
/* ==========================================================================
   Emmas Portfolio
   ========================================================================== */

 /* ==========================================================================
    BASIC STYLES
    ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  backgroundcolor: #000;
}

h1 {
  font-size:250%;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 700;
  margin: 1em 0;
}

h2 {
  font-size:175%;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 700;
  margin: 0 0 1em 0;
}

h3{
  font-size:125%;
  line-height: 1;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 700;
  margin: 0 0 1em 0;
}

p {
  font-size:100%;
  line-height: 1.6;
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 2em;
  font-weight: 300;
}

a,
button {
    color: inherit;
    transition: .3s;
}
a {
    text-decoration: none;
}

li {
  text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.floatfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ==========================================================================
   HEADER & HERO
   ========================================================================== */


header {
  background-color: #111111;
  background-repeat: no-repeat;
  background-position: center;
  background-image: img/background.jpg;
  background-size: cover;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  min-height: 80vh;
}

nav::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.nav-logo {
  width: 40%;
  max-width: 666px;
  margin: 0 auto;
}


nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

nav li {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 100%;
  font-weight: 700;
  border-bottom: none;
  display: block;
}



nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 12px 0;
  text-align: center;
}

nav a:hover {
  background-color: purple;
}


/* ==========================================================================
   LAYOUT
   ========================================================================== */
#home {
	background-image: url("img/banner.jpg");
}



/* ==========================================================================
  Buttons
  ========================================================================== */
.ContactButton {
  margin: 0,auto;
}
a.ContactButton:link {
  font-size: 140%;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #000;
  padding: 12px;
  margin: 1em;
}

a.ContactButton:hover {
  border-color: #000;
  background-color: purple;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media(min-width: 700px){

  nav {
    margin-top: 2em;
  }

  nav li {
      width: 24.95%;
      max-width: 150px;
      border-bottom: none;
      display: inline-block;
  }

   nav-logo{
    display:inline-block;
    width: 20%;
  	
  }
  .aboutimg{
  	  display: float;
   	  float:left;
      width: 60%;
  }
  .abouttext{
      display: float;
      float:left;
      width: 40%;
  }

@media(min-width: 994px) {
 

  nav {
    margin-top: 4em;
  }
  nav-logo{
    display:inline-block;
    width: 20%;
    
  }

  nav li {
      max-width: 200px;
      border-bottom: none;
      display: inline-block;
  }
   .aboutimg {
   	  display: float;
   	  float:left;
      width: 75%;
      max-width: 1876px;
  }
    .abouttext{
      display: float;
      float:left;
      width: 25%;

  }
}